<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${user.getName()}">User</title>
</head>
<body>
<p th:text="${'Name: '+ user.getName()}"></p>
<p th:text="${'Date of birth: ' + user.getYear()}"></p>
<br>
<div th:if="${books.isEmpty()}">
    <p>The man hasn't picked up any books yet</p>
    <hr/>
</div>
<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Books:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr>
            <td>
                <span th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
                      th:style="${book.isExpired()} ? 'color: red' : 'color: black'">
                    book
                </span>
            </td>
        </tr>
    </table>
    <hr/>
</div>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
<br>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="DELETE">
</form>
</body>
</html>