<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %green(%class{50}).%boldBlue(%M):%yellow(%L) - %blue(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="ru.andreygri.librarybooksaccounting" level="debug"/>
    <logger name="org.thymeleaf" level="WARNING"/>
    <root level="Info">
        <appender-ref ref="console"/>
    </root>
</configuration>